@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.muiSelect.Mui-focused {
  @apply border-gray-200;
}

.muiSelect > .MuiSelect-select.MuiOutlinedInput-input {
  @apply text-sm py-2.5 capitalize text-white !important;
}

.muiSelect.disabled > .MuiSelect-select.MuiOutlinedInput-input {
  @apply bg-gray-100;
}

.muiSelect > .MuiSelect-icon {
  @apply text-white;
}

.muiSelect > fieldset {
  @apply border-none;
}
